#NavInner {
    padding-top: 4rem;
}

#MainPage {
    padding-top: 20vh;
    padding-left: 10vw;
    text-transform: uppercase;
}

.Hero-title {
    font-family: 'Nunito', sans-serif;
    display: inline;
    font-size: 6rem;
    line-height: 95%;
    max-width: 100%;
}

.Hero-bottomWrapper {
    padding-top: 0.5rem;
}

#name {
    color: crimson;
    font-weight:bold;
}

#IconsWrap{
    padding-left: 1rem;
}

#Icon{
    padding-right: 0.5rem;
}

.Nav {
    list-style: none;
    padding-top: 1.5rem;
}

.Nav-list {
    padding: 0 ;
    margin: 0;
}

.Nav-item {
    padding-bottom: .75rem;
    display: block;
    font-size: 1.5rem;
    font-family: Nunito,sans-serif;
}

a{
    color: black;
}

.asText {
    background:none;
    border:none;
    padding:0;
}

a:hover, a:active{
    color: crimson;
    text-decoration:none;
}

.card{
    margin: 1rem;
    border-color: gainsboro;
    border-width: medium;
    max-width: 70%;
    /*margin: 1rem;*/
    /*height: 20rem;*/
}

.card:hover, .card:active, .card:focus{
    border-color: crimson;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #MainPage {
        padding-left: 1rem;
    }

    .Hero-title {
        font-size: 3rem;
        max-width: 100%;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #MainPage {
        padding-left: 0;
    }

    .Hero-title {
        font-size: 3.7rem;
        max-width: 100%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #MainPage {
        padding-left: 0;
    }

    .Hero-title {
        font-size: 4.5rem;
        max-width: 100%;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .Hero-title {
        font-size: 5.5rem;
        max-width: 100%;
    }
}